<footer>
  <p>
    Site créé par <a href="https://github.com/drawbu">Clément Boillot</a>
    dans le cadre du cours de “Développement Web et bases de données” à
    <a href="https://www.u-bordeaux.fr">l'Université de Bordeaux</a>.
  </p>
</footer>
