* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;

  --main-color: #00ffc0;
  --monospace-font: "JetBrains Mono", ui-monospace, Monaco, Consolas, monospace;
}

body > #app {
  margin: auto;
  width: 800px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding-top: 16px;

  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: start;
}

footer {
  margin-top: 32px;
  margin-bottom: 16px;
}
footer p {
  text-align: center;
}

a {
  color: cornflowerblue;
  text-decoration: underline transparent 2px;
}

a:hover {
  text-decoration-color: cornflowerblue;
}

a.button,
input[type=submit].button,
button.button {
  all: unset;
  margin: 16px;
  box-shadow: 0 0 0 2px #000000, 2px 2px 0 2px var(--main-color);
  padding: 12px;
  min-width: 160px;
  text-transform: uppercase;
  color: black;
  transition-duration: .2s;
  text-decoration: none;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  font-family: var(--monospace-font);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
}

a.button:hover,
input[type=submit].button:hover,
button.button:hover {
  background-color: var(--main-color);
  box-shadow: 0 0 0 2px var(--main-color), 2px 2px 0 2px var(--main-color)
}

button > span.description {
  font-size: 12px;
  opacity: .5;
  text-transform: none;
  font-family: var(--monospace-font);
}

.buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 32px;
  margin-bottom: 32px;
  align-items: center;
}

.buttons.center {
  justify-content: center;
}

.buttons.center {
  justify-content: center;
}

h1,
h1 > * {
  margin-bottom: 32px;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  font-family: var(--monospace-font);
}

/* Homepage */
main > h1.homepage {
  text-align: center;
  font-size: 48px;
}

main > h1.homepage > span {
  font-size: 32px;
}

main > .img-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}


/* All images page */
#images-grid {
  width: 100%;
}

#images-grid.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-gap: 16px;
}

#images-grid > a.image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  text-decoration: none;
}

#images-grid > a.image.hidden {
  display: none;
}

#images-grid > a.image > p.description {
  font-style: italic;
  opacity: .5;
}


/* Error page */
main > .error {
  margin: auto;
  text-align: center;
  max-width: 400px;
}

main > .error > p.code {
  font-size: 180px;
  font-weight: bold;
  margin-bottom: 16px;
  font-family: var(--monospace-font);
}

main > .error > p.message {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 16px;
  text-transform: uppercase;
  font-family: var(--monospace-font);
}

main > .error > p.description {
  margin-bottom: 32px;
}


/* Single image page */
main > .image {
  width: 100%;
  display: flex;
  flex-direction: column;
}

main > .image > img {
  height: 500px;
  max-width: 100%;
  margin: auto;
}

main > .image > p {
  text-align: center;
  font-family: var(--monospace-font);
}

main > .image > p.name {
  font-size: 32px;
  text-transform: uppercase;
}

main > .image > p.photographer {
  font-size: 24px;
  text-transform: none;
}

main > .image > p.description {
  margin-top: 16px;
  opacity: .5;
  font-size: 24px;
  font-style: italic;
}

main > .images-navigator {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

main > .images-navigator > a > img {
  height: 100px;
}


/* Image description form */
main > form {
  margin: 100px auto auto;
  width: 200px;
  display: grid;
}

main > form > input[type=text],
main > form > input[type=number] {
  padding: 6px;
  margin-bottom: 16px;
}
