* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;

  --main-color: #00ffc0;
  --monospace-font: "JetBrains Mono", ui-monospace, Monaco, Consolas, monospace;
}

body {
  display: flex;
}

main {
  margin: auto;
  width: 800px;
  padding-top: 16px;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: start;
}

a {
  color: cornflowerblue;
  text-decoration: underline transparent 2px;
}

a:hover {
  text-decoration-color: cornflowerblue;
}

a.button {
  margin: 16px;
  box-shadow: 0 0 0 2px #000000, 2px 2px 0 2px var(--main-color);
  padding: 12px;
  min-width: 160px;
  text-transform: uppercase;
  color: black;
  transition-duration: .2s;
  text-decoration: none;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  font-family: var(--monospace-font);
}

a.button:hover {
  background-color: var(--main-color);
  box-shadow: 0 0 0 2px var(--main-color), 2px 2px 0 2px var(--main-color)
}

.buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 32px;
  margin-bottom: 32px;
}

.buttons.center {
  justify-content: center;
}

.buttons.center {
  justify-content: center;
}

h1,
h1 > * {
  margin-bottom: 32px;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  font-family: var(--monospace-font);
}

/* Homepage */
main > h1.homepage {
  text-align: center;
  font-size: 48px;
}

main > h1.homepage > span {
  font-size: 32px;
}


/* All images page */
main > .images-container {
  width: 100%;
}

main > .images-container > div {
  display: flex;
  justify-content: space-between;
}

main > .images-container > div > span > p {
  text-align: center;
}

/* Error page */
main > .error {
  margin: auto;
  text-align: center;
  max-width: 400px;
}

main > .error > p.code {
  font-size: 180px;
  font-weight: bold;
  margin-bottom: 16px;
  font-family: var(--monospace-font);
}

main > .error > p.message {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 16px;
  text-transform: uppercase;
  font-family: var(--monospace-font);
}

main > .error > p.description {
  margin-bottom: 32px;
}


/* Single image page */
main > .image {
  width: 100%;
  display: flex;
  flex-direction: column;
}

main > .image > img {
  height: 500px;
  max-width: 100%;
  margin: auto;
}

main > .image > p {
  text-align: center;
  font-size: 32px;
  text-transform: uppercase;
  font-family: var(--monospace-font);
}

main > .images-navigator {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

main > .images-navigator > a > img {
  height: 100px;
}
